body{
	background-color: #88304e;
	margin: 0;
	padding: left: 0;

}
h1{
	color: #e0f9b5;
	text-align: center;
	font-family: 'Sacramento', cursive;
}
h1:hover{
	color: white;
}
h3:hover{
	color: blue;
}
h3{
	text-align: center;
}